name: Ruby
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/ruby.y*ml
jobs:
  build:
    if: github.repository_owner == 'Homebrew' || !github.event.schedule
    runs-on: ubuntu-latest
    steps:
    - name: Set up Homebrew
      id: set-up-homebrew
      uses: Homebrew/actions/setup-homebrew@master
      with:
        core: false
        cask: false
        test-bot: true

    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Install Homebrew Bundler RubyGems
      if: steps.cache.outputs.cache-hit != 'true'
      run: brew install-bundler-gems

    - name: Configure git
      run: |
        git config user.email 'ta2gch@gmail.com'
        git config user.name 'TANIGUCHI Masaya'

    - name: Generate formulae
      if: github.event_name == 'pull_request'
      run: brew generate-linux-fonts --verbose --debug --write-only

    - name: Generate and commit formulae
      if: github.event_name != 'pull_request'
      run: brew generate-linux-fonts --verbose --debug

    - name: Publish to GitHub
      if: github.event_name != 'pull_request'
      env:
        TOKEN: ${{ secrets.PUSH_TOKEN }}
      run: |
        git push https://fgborges:${TOKEN}@github.com/Homebrew/homebrew-linux-fonts HEAD:master
